@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.mailForm {
  @include margin-bottom(2);
  @include margin-top(2);
  background-color: $color-background;
  display: flex;
  flex-direction: column-reverse;

  &__inner_left {
    @include padding(.5, .5, 2, .5);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__title {
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(0);

    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
  }

  &__body {
    @include line-height(1);
    @include margin(0, 0, 1);
    font-size: $typographic-base-font-size;
  }

  &__form {

    &__input {
      @include margin(0.25, 0, 0.75, 0);
      @include padding(0.5, 2, 0.5, 0.75);
      caret-color: $color-primary;

      background-color: $color-white;
      display: flex;
      flex-direction: column;
      width: 50%;

      border-style: solid;
      border-width: 2px;
      border-radius: 100px;
      border-color: $color-background;

      &:focus {
        outline: $color-white none 2px;
        border-color: $color-gray-bg;
      }
    }

    &__submit {
      border-radius: 100px;
      cursor: pointer;
      border: none;

      color: $color-white;
      display: inline-block;
      margin: 8px auto;
      padding: 16px 40px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: $typographic-small-font-size;
      letter-spacing: 0.2rem;
      background-color: $color-primary;
      outline: 0;
      box-shadow: 0 2 4px transparentize($color-primary, .1);
      transition: all 0.1s ease-in-out;

      &:focus {
        outline: 0;
        box-shadow: 0 10px 16px transparentize($color-primary, .9);
      }
      &:hover {
        box-shadow: 0 10px 16px transparentize($color-primary, .9);
        transform: translateY(-2px);
      }
    }
  }

  &__inner_right {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 80%;
    margin: 0 auto;

    background-image: url('../../../static/book-display.png');
    background-position: center;
    background-size: cover;
  }

}


// BREAK POINTS

@include breakpoint-sm {
  .mailForm {
    // lost-column: 7/12;
    flex-direction: row;

    &__inner_left {
      padding: 30px 20px;
      width: 50%;
    }
    &__inner_right {
      flex-direction: row;
      width: 40%;
    }
  }
}

@include breakpoint-md {
  .mailForm {
    // lost-column: 2/3;
    flex-direction: row;

    &__inner_left {
      @include padding(2, 2);
      width: 50%;
      // flex-direction: row;
    }
    &__inner_right {
      @include margin(1, 1);
      width: 35%;
    }
  }
}
